{% if is_paginated %}
<nav class="pagination">
    <ul class="pagination-list">
        {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}" class="pagination-link">Previous</a></li>
        {% endif %}
        
        {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
        <li><span class="pagination-link is-current">{{ num }}</span></li>
        {% else %}
        <li><a href="?page={{ num }}" class="pagination-link">{{ num }}</a></li>
        {% endif %}
        {% endfor %}
        
        {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}" class="pagination-link">Next</a></li>
        {% endif %}
    </ul>
</nav>
{% endif %}